{:duct.profile/base
 {:duct.core/project-ns prometheus-example

  :prometheus-example.handler.monitoring/collector {}
  :prometheus-example.handler.monitoring/middleware {:collector #ig/ref :prometheus-example.handler.monitoring/collector}

  :duct.handler/root
  {:middleware ^:distinct [#ig/ref :prometheus-example.handler.monitoring/middleware]}

  :duct.router/cascading
  [#ig/ref [:prometheus-example.handler/example]]

  :prometheus-example.handler/example
  {:db #ig/ref :duct.database/sql}

  :prometheus-example.handler.monitoring/hikaricp
  {:hikari-cp #ig/ref :duct.database.sql/hikaricp
   :metrics-collector #ig/ref :prometheus-example.handler.monitoring/collector}

  :duct.database.sql/hikaricp
  {:idle-timeout 300000
   :connection-timeout 30000
   :socket-timeout 10
   :connect-timeout 5
   :login-timeout 10
   :minimum-idle 5
   :maximum-pool-size 5
   :pool-name "consumer-pool"
   :logger false
   :jdbc-url #duct/env "DATABASE_URL"}

  }

 :duct.profile/dev #duct/include "dev"
 :duct.profile/local #duct/include "local"
 :duct.profile/prod {}

 :duct.module/logging {}
 :duct.module.web/api
 {}
 :duct.module/sql
 {}}
