{:duct.profile/base
 {:duct.core/project-ns prometheus-example

  ;; Basic JVM + Ring stats
  :prometheus-example.handler.monitoring-basic/collector {}
  :prometheus-example.handler.monitoring-basic/middleware {:collector #ig/ref :prometheus-example.handler.monitoring-basic/collector}

  :prometheus-example.handler.monitoring/collector {}
  :prometheus-example.handler.monitoring/middleware {:collector #ig/ref :prometheus-example.handler.monitoring/collector}

  :duct.handler/root
  {:middleware ^:distinct
               [#ig/ref :prometheus-example.handler.monitoring-basic/middleware
                #ig/ref :prometheus-example.handler.monitoring-compojure/middleware
                #ig/ref :prometheus-example.handler.monitoring/middleware]
   :router #ig/ref :mixed/compojure-and-reitit}

  :prometheus-example.handler.monitoring-compojure/collector {}
  :prometheus-example.handler.monitoring-compojure/middleware {:collector #ig/ref :prometheus-example.handler.monitoring-compojure/collector}
  :prometheus-example.handler.monitoring-compojure/router {:router #ig/ref :compojure/routes
                                                           :collector #ig/ref :prometheus-example.handler.monitoring-compojure/collector}

  :prometheus-example.handler.monitoring-compojure/router-nested {:router #ig/ref :prometheus-example.handler.monitoring-compojure/router
                                                                  :collector #ig/ref :prometheus-example.handler.monitoring-compojure/collector}

  [:prometheus-example.cascading/cascading :compojure/routes]
  [#ig/ref [:prometheus-example.handler/example]
   #ig/ref [:prometheus-example.handler/example-nested-context]]

  :prometheus-example.handler/example
  {:db #ig/ref :duct.database/sql}

  :prometheus-example.handler/example-nested-context
  {:db #ig/ref :duct.database/sql}

  :prometheus-example.handler.example-reitit/router {:collector #ig/ref :prometheus-example.handler.monitoring-compojure/collector
                                                     :db #ig/ref :duct.database/sql}

  [:prometheus-example.cascading/cascading :mixed/compojure-and-reitit]
  [#ig/ref [:prometheus-example.handler.monitoring-compojure/router-nested]
   #ig/ref [:prometheus-example.handler.example-reitit/router]]

  :prometheus-example.handler.monitoring/hikaricp
  {:hikari-cp #ig/ref :duct.database.sql/hikaricp
   :metrics-collector #ig/ref :prometheus-example.handler.monitoring/collector}

  :duct.database.sql/hikaricp
  {:idle-timeout 300000
   :connection-timeout 30000
   :socket-timeout 10
   :connect-timeout 5
   :login-timeout 10
   :minimum-idle 5
   :maximum-pool-size 5
   :pool-name "consumer-pool"
   :logger false
   :jdbc-url #duct/env "DATABASE_URL"}

  }

 :duct.profile/dev #duct/include "dev"
 :duct.profile/local #duct/include "local"
 :duct.profile/prod {}

 :duct.module/logging {}
 :duct.module.web/api
 {}
 :duct.module/sql
 {}}
