{:monitoring.example/compojure [:duct/profile]
 :monitoring.example/basic-monitoring [:duct/profile]
 :monitoring.example/jetty-monitoring [:duct/profile]
 :monitoring.example/reitit [:duct/profile]
 }
